.navbar-lewagon {
  justify-content: space-between;
  /* background: white; */
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: aliceblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* .name-logo {
  --fnt: normal normal normal 16px/1.4em futura-lt-w01-light,futura-lt-w05-light,sans-serif;
} */

.name-logo {
  /* font-family: Arial,Helvetica,sans-serif;
  font-size: 10px; */
  /* color: black; */
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
